MONGO_URL=mongodb+srv://<db_username>:<db_password>@inglesapp.nmdsdnv.mongodb.net/<NOMBRE_BASE>?retryWrites=true&w=majority&appName=inglesAPP
JWT_SECRET=<UNA_FRASE_LARGA_SECRETA_Y_ALEATORIA_PARA_FIRM_LOS_TOKENS> 